import("DiceKriging",
	"rgenoud", "MASS", "lhs")

export(fundet, real_ind_fundet, fun_test2d_ranjan, EGI,
bichon_optim, camelback2, lili2D, max_infill_criterion, max_sur, max_timse, ranjan_optim, sur_optim, tmse_optim, timse_optim)

